@font-face {
	font-family: "KFGQPC HAFS Uthmanic Script";
	src: url("_kfgqpc-hafs-uthmanic-script.ttf");
}

html {
	overflow-y: scroll;
	text-align: center;
}

.quran-text {
	margin: 8px 0;

	font-family: "KFGQPC HAFS Uthmanic Script", serif;
	direction: rtl;

	font-size: 32px;
	line-height: 2;
}

hr {
	background: currentColor;
	opacity: 0.2;
	height: 2px;

	border: none;
}
